# EditorConfig is awesome: https://EditorConfig.org

# top-most EditorConfig file
root = true

# Unix-style newlines with a newline ending every file
[*]
end_of_line = lf
insert_final_newline = true
charset = utf-8
trim_trailing_whitespace = true

# JavaScript, JSX, TS, TSX
[*.{js,jsx,ts,tsx}]
indent_style = space
indent_size = 2
max_line_length = 100

# CSS, SCSS, LESS
[*.{css,scss,less}]
indent_style = space
indent_size = 2

# JSON
[*.{json,jsonc}]
indent_style = space
indent_size = 2

# Markdown
[*.md]
trim_trailing_whitespace = false
max_line_length = off

# YAML
[*.{yml,yaml}]
indent_style = space
indent_size = 2

# Shell scripts
[*.sh]
indent_style = space
indent_size = 2

# SQL
[*.{sql}]
indent_style = space
indent_size = 2

# Makefile
[Makefile]
indent_style = tab